<h3>
  買い物かごの中身
</h3>
<ul>
  <% @products.each do |product| %>
     <li><%= product.name %></li>
    <li><%= product.price %> 円</li>
    <li><%= link_to"✖", product_delete_in_baskets_path(product), method: :post%></li>
  <% end %>
</ul>
<div>合計金額<%= @total_price %> 円</div>

<%= form_tag charge_path do %>
  <% @products.each do |p| %>
    <%= hidden_field_tag 'product_ids[]', p.id %>
  <% end %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%=  ENV['STRIPE_API_KEY'] %>"
          data-description="商品のご購入"
          data-amount=<%= @total_price %>
          data-locale="auto"
          data-currency="jpy">
</script>
<% end %>

