<h3>お気に入りに追加した商品</h3>
  <% if @favorite.empty? %>
   <p>お気に入りに追加した商品はありません。</p>
  <% end %>

<% current_user.favorite_products.each do |product| %>
    <%= image_tag product.image.url %>
    <%= product.name %>
    <%= product.price %>
    <%= link_to product_path(product) do %>
      <p>商品詳細</p>
    <% end %>
    <% if current_user.already_favorited?(product) %>
        <%= link_to  product_favorites_path(product), method: :delete do %>
          <i class="fas fa-heart"></i>
        <% end %>
    <% else %>
        <%= link_to product_favorites_path(product), method: :post do %>
          <i class="far fa-heart"></i>
        <% end %>
    <% end %>
<% end %>
