<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="border p-4 m-3"> 
  <div class="pb-4">
    <h1>Add new item</h1>
  </div>
  <%= form_for [:admins, @product] do |f| %>
    <div class="form-group">
      <label for="name">Name</label>
      <%= f.text_field :name, class:"form-control" %>
    </div>

    <div class="form-group">
    <label for="description">Description</label>
    <%= f.text_area :description, {row:3, class:"form-control"} %>
    </div>
    
    <div class="form-group">
    <label for="price">Price</label>
    <%= f.text_field :price, class:"form-control" %>
    </div>

    <div class="form-group">
    <label for="image">Image</label>
    <%= f.file_field :image, accept:"image/jpg,image/jpeg,image/png", class:"form-control-file" %>
    </div>

  
    <%= f.submit "Add new item", class:"btn btn-primary" %>
  <% end %>
</div>

  <div class="text-right">
    <%= link_to  admins_root_path do %>
        <p class="btn btn-dark">Back Home</p>
    <% end %>
  </div>
