<div class="row mt-20">
  <div class="col-md-6"><%= image_tag @product.image.url %></div>
  <div class="col-md-6">
    <p><%= @product.name %></p>
    <p><%= @product.price %></p>
    <p><%= @product.description %></p>
    <%= link_to product_add_to_baskets_path(@product), method: :post do %>
      <div class="btn btn-dark">買い物かごに入れる</div>
    <% end %>
    <% if current_user.already_favorited?(@product) %>
      <%= link_to  product_favorites_path(@product), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to product_favorites_path(@product), method: :post do %>
        <i class="far fa-heart"></i>
      <% end%>
    <% end%>
   
  </div>
</div>