<div class="row mt-50">
  <div class="col-md-6"><%= image_tag @product.image.url, :width => '100%', :height => 'auto' %></div>
  <div class="col-md-4" id="product-show">
    <p class="h1"><%= @product.name %></p>
    <p class="h3"><%= @product.price %> 円</p>
    <p><%= @product.description %></p>

    <div class="row ">
      <div class="col-md-6">
        <%= link_to product_add_to_baskets_path(@product), method: :post do %>
          <div class="btn btn-primary">買い物かごに入れる</div>
        <% end %>
      
      </div>    
      <div class="col-md-4 "> 
        <% unless current_user.present? %>
        <%= link_to new_user_session_path do %>
            <i class="far fa-2x fa-heart red_heart"></i>
          <% end%>
        <% else %>

          <% if current_user.already_favorited?(@product) %>
            <%= link_to  product_favorites_path(@product), method: :delete do %>
              <i class="fas fa-2x fa-heart red_heart"></i>
              
            <% end %>
          <% else %>
            <%= link_to product_favorites_path(@product), method: :post do %>
              <i class="far fa-2x fa-heart red_heart"></i>
            <% end%>
          <% end%>
        <% end%>
      </div>
    </div>
  </div>
</div>

<div class="text-right">
  <%= link_to root_path do %>
      <p class="btn btn-dark mt-3">Back Home</p>
   <% end %>
</div>
