<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioEc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/16090d1398.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down" id="nav-mobile">
        <% if current_user.present? %>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        <% elsif current_admin.present? %>
          <li>
            <%= link_to 'ログアウト（アドミン）', destroy_admin_session_path, method: :delete %>
          </li>
        <% end %>
       </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
